@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.Alldogslist_filter {
  display: flex;
  margin: 0 auto;
  width: 80%;
  border: 1pt solid black;
  padding: 0 3% 1%;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.Alldogslist_inputfilter {
  font-family: "Alegreya Sans", sans-serif;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  height: 2rem;
  background-color: rgba(242, 164, 132, 0.17);
  border-radius: 1%;
  border: none;
  padding-left: 7%;
}
.Alldogslist_filterbuttons {
  display: flex;
  justify-content: center;
}
.Alldogslist_filterbuttonsubmit {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  background-color: rgba(248, 151, 111, 0.81);
  color: #fffbfb;
  width: 60%;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.Alldogslist_FilterButtonReset {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bolder;
  color: #fffbfb;
  background-color: rgba(248, 151, 111, 0.81);
  height: 2rem;
  width: 20%;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
}

.Alldoglist_cardlist {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
