@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.allshelters__shelter_titleFavs {
  padding-right: 2rem;
  position: relative;
  display: flex;
  padding-left: 3rem;
  margin-top: 3rem;
  border-bottom: 0.2rem solid orange;
  font-family: "Alegreya Sans", sans-serif;
}
.allshelters__ImgTitleFavs {
  position: absolute;
  width: 81px;
  left: 0%;
  height: auto;
  top: -46.8%;
  z-index: 2;
}

.allshelters_titleShelter {
  margin-left: -1rem;
  font-family: "Alegreya Sans", sans-serif;
  margin-right: -6rem;
}

@media only screen and (max-width: 1224px) {
  .allshelters__ImgTitleFavs {
    display: none;
  }
}
