.file-upload {
  border: 1px solid black;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  background-color: #f8d2c3;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f8d2c3;
  color: black;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.file-upload input {
  overflow: hidden;
  width: 0;
}
.buttoneditphoto {
  border: 1px solid black;
  padding: 7px;
  cursor: pointer;
  background-color: #f8d2c3;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f8d2c3;
  color: black;
}
