@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.cardDogs {
  position: relative;
  display: block;
  width: 15rem;
  background-color: #faf4f7;
  border-radius: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  margin-right: 3rem;
}

.dogCardsBody {
  margin-top: 3.3rem;
}
.cardPhoto {
  top: -28%;
  left: 17%;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}
.textCardDog {
  text-align: center;
  width: 90%;
}
.iconsAndDescription {
  margin-bottom: 1rem;
}
.iconsCard {
  margin-bottom: 1rem;
}
.caractIcon {
  width: 2rem;
  height: 2rem;
}
.iconsDescription {
  font-size: 0.7rem;
}
.button {
  background-color: #f8d2c3;
  color: black;
  border: none;
}
.favButton {
  top: 70%;
  left: 85%;
  position: absolute;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 122, 122, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  width: 2.9rem;
  height: 2.9rem;
}

.heartButton {
  margin-top: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
}
.gps {
  margin-top: 1rem;
  display: block;
}
.iconUbic {
  width: 0.7rem;
  height: 0.9rem;
}
