@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.Card_carddogs {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(auto-fit);
  width: 16rem;
  margin-top: 8rem;
  background-color: #faf4f7;
  border-radius: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  margin-right: 2rem;
}

.Card_dogcardsbody {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  min-height: 17rem;
}
.Card_cardphoto {
  position: absolute;
  left: 5rem;
  top: -6rem;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  border-radius: 50%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}
.Card_textcarddog {
  width: 100%;
  height: auto;
  font-size: medium;
}
.Card_IconsAndDescription {
  margin-bottom: 1rem;
  width: 100%;
}
.Card_IconsCard {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.Card_CaractIcon {
  width: 3em;
  height: 3em;
}

.Card_iconTexInv {
  font-size: 1em;
  width: 100%;
  font-family: "Alegreya Sans", sans-serif;
}
.Card_btn {
  background-color: #f8d2c3;
  color: black;
  border: none;
  position: absolute;
  right: 32%;
  bottom: 10%;
}

.Card_location {
  margin-top: 1rem;
  display: block;
}

.Card_FavButton {
  position: absolute;
  top: 70%;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 127, 127, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 50%;
}
.Card_hearth {
  width: 2.3rem;
  height: 2.3rem;
}

#editPencil {
  margin-top: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
}
.Card_location {
  margin-top: 1rem;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .Card_cardphoto {
    display: relative;
  }
  .Card_CaractIcon {
    display: none;
  }
  .Card_iconTexInv {
    display: none;
  }
  .Card_card-title {
    padding-top: 2rem;
  }
}
.Card_FavButton img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.Card_FavButton:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* class for cardForProfileShelter */
.deleteanimal {
  cursor: pointer;
}
.editButton {
  top: 70%;
  left: 85%;
  position: absolute;
}

.dropdEditStyle {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
}
.editphotoanimal input {
  overflow: hidden;
  width: 0;
}

.savephotoanimal {
  border: 1px solid black;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  font-size: small;
  background-color: #f8d2c3;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f8d2c3;
  color: black;
  position: absolute;
  top: 20%;
  left: -9%;
}

.Card_photo_profile_shelter:hover {
  cursor: pointer;
  filter: blur(2px);
}

#card_photo_profile_text {
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
  font-size: x-large;
  position: absolute;
  top: -10%;
  left: 25%;
  color: white;
  border-style: solid 1px black;
}

.editphotoanimal:hover > #card_photo_profile_text {
  visibility: visible;
}
