@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.detaildog_view {
  display: flex;
  justify-content: center;
}

.detaildog_photos_principalphoto {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
}

.detaildog_info_title {
  text-align: center;
  font-family: Alegreya Sans;
  font-style: italic;
  font-size: 4rem;
  color: rgba(229, 94, 47, 1);
}
.detaildog_info_list {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin-right: 1rem;
}

.detaildog_info_list_label {
  color: rgba(229, 94, 47, 1);
}
.buttonContactShelterOne {
  width: 15rem;
  height: auto;
  border-radius: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  background-color: #f5c0ab;
  border: solid black 1px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonContactShelterTwo {
  text-decoration: none;
  width: 15rem;
  height: auto;
  border-radius: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  background-color: #f5c0ab;
  border: solid black 1px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ancorforbuttoncontact:hover {
  text-decoration: none !important;
}
