@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&family=Vollkorn:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Source+Code+Pro:wght@200&family=Vollkorn:ital,wght@1,500&display=swap");
.footer-foot {
  background-color: #686696;
  display: flex;
  position: relative;
  z-index: 1;
}
.foot-colum1 {
  padding-left: 3%;
  padding-bottom: 1%;
  padding-right: 1%;
}
.foot-colum2 {
  text-align: left;
  padding-top: 2%;
  font-family: "Alegreya Sans", sans-serif;
}

.foot-colum3 {
  text-align: center;
}
.foot-chapi {
  padding-top: 1%;
  width: 130px;
  height: 150px;
}
.footer-texto {
  color: white;
  font-size: 1.2rem;
  font-family: "Alegreya Sans", sans-serif;
  margin-right: 15%;
}

.foot-perreteBingo {
  position: absolute;
  width: 180px;
  height: auto;
  margin-top: -157px;
  z-index: 2;
  right: 50px;
}
.foot-nombre {
  color: white;
  padding-top: 15%;
  font-family: "Vollkorn", serif;
}
.foot-logogeri {
  display: flex;
}

.iconoigfooter,
.iconotwfooter,
.iconofbfooter {
  height: auto;
  width: 40px;
  padding-top: 25%;
  margin-left: 2%;
}

.text-white-foot {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.text-white-foot:hover {
  color: black;
}

.footer-circleone {
  padding-left: 3%;
  z-index: -1;
  position: absolute;
  margin-bottom: 8%;
  margin-top: -3%;
}

.footer-circletwo {
  padding-left: 6%;
  padding-bottom: 0.5%;
  margin-top: -4%;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .footer-circleone,
  .footer-circletwo {
    display: none;
  }
}
