@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.login_view {
  background: url("https://cdn.discordapp.com/attachments/939128267607257158/946794698599698482/freestocks-t8SxccV0Agw-unsplash.jpg");
  background-size: cover;

  display: block;
  margin: 0 auto;
  border-radius: 5rem;
  padding: 1rem 1rem;
  width: 35rem;
  z-index: 0;
}
.login_Photo {
  position: absolute;
  margin: 0 auto;
  border-radius: 5%;
  width: 35rem;
  height: 20rem;
  z-index: -1;
  top: 32vh;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  object-fit: cover;
  filter: blur(2px);
}
.login_title {
  font-family: "Alegreya Sans", sans-serif;
  display: flex;
  text-align: center;
  z-index: 1;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 1px black;
}
.login_GroupInput {
  font-family: "Alegreya Sans", sans-serif;
  font-size: large;
  width: 80%;
  display: flex;
  margin: auto;
  z-index: 1;
  color: white;
  font-weight: bold;
  text-shadow: 2px 1px black;
}
.login_button {
  background-color: #f2a484;
  font-family: Alegreya Sans;
  font-size: larger;
  font-weight: bold;
  z-index: 1;
}
