@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Comforter&family=Josefin+Sans:ital,wght@1,500&family=Sansita+Swashed:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Comforter&family=Josefin+Sans:ital,wght@1,500&family=Sansita+Swashed:wght@300&family=Ubuntu:wght@300&display=swap");

nav {
  background-color: rgb(245, 184, 159);
}

a {
  text-decoration: none;
  color: black;
}

.logoNav {
  width: 85px;
  height: 85px;
  margin-top: -1%;
  margin-left: 1%;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: larger;
  font-weight: bolder;
}

.iniciar {
  margin-right: 8%;
}
