@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Comforter&family=Josefin+Sans:ital,wght@1,500&family=Sansita+Swashed:wght@300&family=Ubuntu:wght@300&display=swap");

.picQuienesSomos {
  width: 70%;
  height: auto;
  margin-top: 5rem;
  border-radius: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lineQuienesSomos {
  width: 90%;
  border-bottom: 0.2rem solid orange;
  margin-bottom: 5rem;
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.titleQuienesSomos {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 4%;
}

.centerPicQuienesSomos {
  text-align: center;
}

.textoQuienesSomos {
  margin-top: 4%;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}

.middleBarQuienesSomos {
  display: flex;
  justify-content: space-around;
  margin-top: 20rem;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(239, 201, 182);
  display: flex;
  position: relative;
}

.picQuienesSomosDos {
  top: -52%;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  width: 20vmax;
  height: 20vmax;
}

.textCenterMision {
  text-align: center;
}

.misTitle {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3rem;
}

.misText {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.proTitle {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3rem;
}

.proText {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.adoptedDogQuienesSomos {
  width: 70%;
  height: auto;
  margin-top: 5rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerDogAdoptedQuienesSomos {
  text-align: center;
}

.heartsSidesQuienesSomos {
  margin-top: 15rem;
  width: 10vmax;
  height: 10vmax;
}

.centerHeartsSides {
  text-align: center;
}

.dudasSuge {
  margin-top: 2rem;
}

.contactQuienesSomos {
  background-color: #f8d2c3;
  border-radius: 15px;
  padding: 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f8d2c3;
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 2rem;
}
