.picQuienesSomos {
  width: 70%;
  height: auto;
  border-radius: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerPicQuienesSomos {
  text-align: center;
}

.titleQuienesSomos {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 4%;
}

.textoQuienesSomos {
}
